<div class="toolbar-conteiner">
  <mat-toolbar class="first-toolbar">
    <div class="icon">
      <button class="menu-icon" fxShow="false" fxHide.lt-sm="false" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
    </div>
    <div class="options">
      <span fxShow="true" fxHide.lt-sm="true">INÍCIO</span>
      <span class="instrucoes" fxShow="true" fxHide.lt-sm="true">INSTRUÇÕES</span>
      <span fxShow="true" fxHide.lt-sm="true">AJUDA</span>
    </div>
  </mat-toolbar>
</div>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item>
        <span>INÍCIO</span>
      </a>
      <a mat-list-item>
        <span>teste</span>
      </a>
      <a mat-list-item>
        <span>teste</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
