mat-sidenav-content {
  background-color: #ebebeb;
}
.toolbar-conteiner {
  display: flex;
  //min-height: 70px;

  .first-toolbar {
    background-color: #ebebeb;

    .options {
      color: #555454;
      font-size: 18px;
      margin-left: 20px;
    }

    .menu-icon {
      color: #555454;
    }
  }

  .instrucoes {
    margin-left: 22px;
    margin-right: 22px;
  }
}

mat-sidenav {
  width: 100%;
  height: 520px;
}
