.title-image {
 display: flex;
 justify-content: center;


 .title {
   align-self: center;
   margin-left: 12px;
   margin-right: 12px;

   .image {
     margin-top: 12px;
     //margin-right: 12px;
     text-align: center;

    .folhas {
      border-radius: 20px;
      width: 100%;
    }
   }

   .orientacoes {
    text-align: center;

    p {
      font-size: 16px;
      font-family: 'Familjen Grotesk', sans-serif;
    }
   }

   .buttons {
    text-align: center;

    button {
      background-color: #04bd95;
      color: white;
    }
   }

  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: -10px;

    .danger {
      color: #04bd95;
      font-weight: bold;
    }
  }
 }
}

.second-part {
  text-align: center;
  margin-top: 30px;
}
